body{
    background-color: #7fffd5;
}

.h1{
    display: flex;
    justify-content: center;
    
}
.p1{
    display: flex;
    justify-content: center;
    font-weight: 800;
    font-size: 1.5em;
}

@media screen and (min-width:0px){
    body{
        background-color: #bc2e3d;
    }
    .p1{
      display: none;

    }
    .p2{
        display: block;
      text-align: center;
    }

}
@media screen and (min-width:425px){
    body{
        background-color:#75fbfd ;
    }
    .p1{
        display: none;
  
      }
      .p3{
          display: block;
        text-align: center;
      }
}
@media screen and (min-width:768px){
    body{
        background-color: #b1882f;
    }
    .p1{
        display: none;
  
      }
      .p4{
          display: block;
        text-align: center;
      }
}
@media screen and (min-width:1024px){
    body{
        background-color: #208b21;
    }
    .p1{
        display: none;
  
      }
      .p5{
          display: block;
        text-align: center;
      }
}
@media screen and (min-width:1440px){
    body{
        background-color: #7fffd5;
    }
    .p1{
        display: none;
  
      }
      .p6{
          display: block;
        text-align: center;
      }
}
